[Unit]
Description=Run InnerOS Pi01 Xmart solar history recorder every minute

[Timer]
OnBootSec=150
OnActiveSec=15
OnUnitActiveSec=60
AccuracySec=10
Persistent=true

[Install]
WantedBy=timers.target
